body{
	font-size: 0.85rem;
	font-family: @font-basic;
}
.sku {
	display: inline-block;
	margin-top: 4px;
	background: @text-dark;
	color: #fff;
	padding: 5px 8px;
	font-size: 12px;
	border-radius: 25px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 75%;
	vertical-align: middle;
}

.prod-title {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-size: 16px;
	margin-top: 6px;
	a {
		color: #000;
		text-decoration: none;
	}
}

.text-lighter {
	opacity: 0.45;
}
.material-icons{
	font-size: 16px;
}

.hidden{
	display: none !important;
}

@media screen and (min-width: 768px){
	.visible-xs, .visible-xs-inline-block {
		display: none!important;
	}
}