<div class="container">

	<div class="header-secondary replace-header">
		<ul class="nav pri-menu justify-content-between align-items-center">
			<!-- <li class="visible-xs pri-menu__hb"> < </li> -->

			<li class="pri-menu__wrap marketplace-tabs show-white">
				<ul class="pri-menu__full">
					<li class="active"><a class="">All</a></li>
					<li class=""><a class="marketplaces m-amazon"><span class="m-h"></span></a></li>
					<li><a class="marketplaces m-flipkart"><span class="m-h"></span></a></li>
					<li><a class="marketplaces m-snapdeal"><span class="m-h"></span></a></li>
					<li><a class="marketplaces m-paytm"><span class="m-h"></span></a></li>
				</ul>
			</li>
			<li class="buttons-right hidden-sm-down">
				<ul class="pri-menu__full">
					<li>
						<div class="bt-dropdown">
							<a>Export</a>
						</div>
					</li>
					<li><a>Import</a></li>
					<li class="pl-2">1 to 20 of <strong>{{paginationConfig.totalItems}}</strong></li>
				</ul>
			</li>
		</ul>
	</div>

	<div class="filters my-3">
		<div class="filters__search row justify-content-start">
			<div class="col-lg-3 col-md-5">
				<div class="input-group">
					<div class="input-group-btn">
						<button type="button" class="btn btn-default btn-sm dropdown-toggle search-dropdown rippleCSS" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="material-icons">&#xE8B6;</i> Product Title
						</button>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#">Listing ID</a>
							<a class="dropdown-item" href="#">Product Title</a>
						</div>
					</div>
					<input type="text" class="form-control" placeholder="Type to Search" aria-label="Text input with dropdown button">
				</div>
			</div>

			<a class="filters__toggle open">
				<img alt="" src="./assets/img/filter.png">
			</a>

			<div class="col-lg-7 col-md-12">
				<div class="filters__wrap open">
					<div class="row justify-content-start">
						<div class="dropdown">
							<button class="btn btn-outline-secondary btn-sm dropdown-toggle rippleCSS" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Price Status
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="#">At my min</a>
								<a class="dropdown-item" href="#">At my max</a>
								<a class="dropdown-item" href="#">Only seller</a>
							</div>
						</div>
						<div class="dropdown">
							<button class="btn btn-outline-secondary btn-sm dropdown-toggle rippleCSS" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Sellers
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="#">At my min</a>
								<a class="dropdown-item" href="#">At my max</a>
								<a class="dropdown-item" href="#">Only seller</a>
							</div>
						</div>
						<div class="dropdown">
							<button class="btn btn-outline-secondary btn-sm dropdown-toggle rippleCSS" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								My Price
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="#">At my min</a>
								<a class="dropdown-item" href="#">At my max</a>
								<a class="dropdown-item" href="#">Only seller</a>
							</div>
						</div>
						<div class="dropdown">
							<button class="btn btn-outline-secondary btn-sm dropdown-toggle rippleCSS" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Sort by
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<div class="form-check">
									<label class="form-check-label">
									    Listing ID
									    <input class="" type="radio" name="sort" id="sort_id" value="id">
									</label>
								</div>
								<div class="form-check">
									<label class="form-check-label">
									    Product Title
									    <input class="" type="radio" name="sort" id="sort_prod" value="prod">
									</label>
								</div>
								<div class="form-check">
									<label class="form-check-label">
									    Min Price
									    <input class="" type="radio" name="sort" id="sort_min_price" value="min_price">
									</label>
								</div>
								<div class="form-check">
									<label class="form-check-label">
									    Max Price
									    <input class="" type="radio" name="sort" id="sort_max_price" value="max_price">
									</label>
								</div>
								<div class="form-check">
									<label class="form-check-label">
									    MOP
									    <input class="" type="radio" name="sort" id="sort_mop" value="mop">
									</label>
								</div>
								<div class="form-check">
									<label class="form-check-label">
									    MRP
									    <input class="" type="radio" name="sort" id="sort_mrp" value="mrp">
									</label>
								</div>
							</div>
						</div>
						<div class="dropdown">
							<button class="btn btn-outline-secondary btn-sm dropdown-toggle rippleCSS" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Order
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<div class="form-check">
									<label class="form-check-label">
									    Asc
									    <input class="" type="radio" name="order" id="order_asc" value="asc">
									</label>
								</div>
								<div class="form-check">
									<label class="form-check-label" for="order_desc">
									    Desc
										<input class="" type="radio" name="order" id="order_desc" value="desc">
									</label>
								</div>
							</div>
						</div>
						<button class="btn btn-link btn-sm reset-btn rippleCSS">
							<i class="material-icons">&#xE5D5;</i> <span class="hidden-md-up">Reset</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="tabular">
		<div class="tabular__header row align-items-center hidden-sm-down">
			<div class="tabular__cell cell-1 t-check">
				<label class="form-check-label">
					<input class="" type="checkbox" value="">
				</label>
			</div>
			<div class="tabular__cell cell-9 t-product">Product</div>
			<div class="tabular__cell cell-5 t-price">Price</div>
			<div class="tabular__cell cell-5 t-rule">Pricing Rule</div>
			<div class="tabular__cell cell-2 t-listing">Listings</div>
			<div class="tabular__cell cell-2 t-seller">Sellers</div>

			<div class="tabular__cell cell-5 t-battle">
				<span class="show-cursor">Price Battlefield <i class="material-icons">&#xE8FD;</i></span>
			</div>
		</div>

		<!-- .... the loader .... -->
		<div class="tabular__row flex has-anim-loader" [hidden]="priceListLoading == false" *ngFor="let dummy of dummyProducts">
			<div class="masked masked--prices">
				<div class="masked__bg">
					<div class="masked__elements">
						<div class="masked__elem masked--1"></div>
						<div class="masked__elem masked--2"></div>
						<div class="masked__elem masked--3"></div>
						<div class="masked__elem masked--4"></div>
						<div class="masked__elem masked--5"></div>
						<div class="masked__elem masked--6"></div>
						<div class="masked__elem masked--7"></div>
						<div class="masked__elem masked--8"></div>
						<div class="masked__elem masked--9"></div>
						<div class="masked__elem masked--10"></div>
						<div class="masked__elem masked--11"></div>
						<div class="masked__elem masked--12"></div>
						<div class="masked__elem masked--13"></div>
						<div class="masked__elem masked--14"></div>
						<div class="masked__elem masked--15"></div>
						<div class="masked__elem masked--16"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="tabular__row flex" *ngIf="!priceListLoading && !productList.length" style="justify-content: center;">
			<strong>No records found</strong>
		</div>

		<div class="tabular__row row" *ngFor="let item of productList">
			<div class="tabular-mob-header">
				<div class="header-secondary replace-header">
					<ul class="nav pri-menu">
						<li class="hidden-md-up pri-menu__hb">
							<i class="material-icons">&#xE5C4;</i>
						</li>
						<li class="pri-menu__title"><h2>Product Details</h2></li>
					</ul>
				</div>
			</div>
			<div class="tabular__cell cell-1 hidden-sm-down t-check">
				<label class="form-check-label">
					<input class="" type="checkbox" value="">
				</label>
			</div>
			<div class="tabular__cell cell-9 row t-product">
				<div class="img-wrap" margin-right="" style="background-image: url();">
					<img [src]="item.product_details.product_image_url" width="50" alt="">
				</div>
				<div class="text-wrap">
					<span class="sku">{{item.channel_details.listing_id || naText}}</span> <span class="marketplaces m-flipkart" [ngClass]="{'m-amazon': item.channel_details.channel_name == 'Amazon','m-flipkart': item.channel_details.channel_name == 'Flipkart', 'm-snapdeal': item.channel_details.channel_name == 'Snapdeal', 'm-paytm': item.channel_details.channel_name == 'Paytm'}"><span class="m-h"></span></span>
					<h6 class="prod-title">
						<a target="blank" title="Crompton Hill Briz 1200mm Ceiling Fan (Brown)" [href]="item.product_details.product_url" >{{item.product_details.product_name}}</a>
					</h6>
					<span class="text-lighter">{{item.repricing.last_tracked_on}}</span>
				</div>
			</div>
			<div class="tabular__cell cell-5 t-price">


				<span class="violation-icon tooltip" hidden="">
					<img alt="" src="./assets/img/viol.png">
					<span class="tooltip__content direction-bottom text-left">
						Violation Type: <strong>N/A</strong>
					</span>
				</span>
				<span [hidden]="item.repricing.is_buy_box != 'yes'" class="badge badge-warning">BB</span>
				<span class="price">
					<span class="rupee">₹</span><span class="amount">{{item.repricing.my_price || naText}}</span>
					<span [hidden]="item.repricing.is_min != 'yes'" class="badge badge-success">Lowest</span>
				</span>
			</div>
			<div class="tabular__cell cell-5 t-rule">
				{{item.repricing.rule_name }}
			</div>
			<div class="tabular__cell cell-2 pricer-count t-listing">
				<span class="product-icon"></span> <strong>{{item.repricing.tracked_products_count || naText}}</strong>
				<!-- <span class="pricer-count__legend">Listings</span> -->
			</div>
			<div class="tabular__cell cell-2 pricer-count t-seller">
				<span class="seller-icon">
					<i class="material-icons">&#xE7FF;</i>
				</span>
				<strong class="big">{{item.repricing.tracked_sellers_count || naText}}</strong>
				<!-- <span class="pricer-count__legend">Sellers</span> -->
			</div>
			<div class="tabular__cell cell-6 t-battle text-center">
				<div id="mainSVGContainer" style="width: 182px;margin: auto;">
				  <svg height="70" version="1.1" xmlns="http://www.w3.org/2000/svg" width="150">
				    <g>
				      <svg height="15" width="150">
				          <text fill="navy" font-size="10" style="overflow:visible" y="12" x="2.1999999999999993">1,410</text>
				          <text fill="navy" font-size="10" y="12" x="70.5">3,000</text>
				      </svg>


				      <svg class="drawerContainer" height="70" width="150">
				        <rect fill="black" height="8" width="2" y="22" x="17.2"></rect>
				        <rect fill="black" height="8" width="2" y="22" x="83.5"></rect>
				        <path stroke="black" stroke-width="1" d="M17.2 30 L85.5 30"></path>



				      </svg>

				      <svg height="9" width="150">
				          <path stroke-opacity="0" stroke-width="1" d="M 18.9 15 l -7 0 l 7 9 l 7 -9 l -7 0" fill="red"></path>
				      </svg>

				      <!---->

				    </g>

				    <g>
				      <svg class="drawerContainer" height="70" width="150">
				        <path stroke-dasharray="3,3" stroke-width="1" d="M 0 42 L 150 42" stroke="#337ab7"></path>
				        <rect height="8" width="2" y="42" fill="#337ab7" x="0"></rect>
				        <rect height="8" width="2" y="42" fill="#337ab7" x="148"></rect>
				      </svg>

				      <!----><svg height="10" width="150">
				        <circle cy="42" fill="orange" r="5" cx="0"></circle>
				      </svg>

				      <svg height="15" width="150">
				        <text fill="navy" font-size="10" y="63" x="-15">1,010</text>
				        <text fill="navy" font-size="10" y="63" x="135">4,500</text>
				      </svg>
				    </g>
				  </svg>
				</div>
			</div>

			<div class="tabContainer">
				<div class="tab">
					<div class="tab__header" data-tab="tabbed-section-1"><span class="tab__title">Sellers</span></div>
					<div class="tab__header" data-tab="tabbed-section-2"><span class="tab__title">Product Info</span></div>
					<div class="tab__header" data-tab="tabbed-section-3"><span class="tab__title">Activity</span></div>
					<div class="tab__underline" style="display: none;"></div>
				</div>

				  <div class="tabbed-section tabbed-section-1 hidden">
				  	<div class="seller-table tabular">
					    <div class="tabular__header row hidden-sm-down">
							<div class="tabular__cell cell-7">Seller</div>
							<div class="tabular__cell cell-4">ASIN</div>
							<div class="tabular__cell cell-5">Tracked Since</div>
							<div class="tabular__cell cell-3">Stockouts</div>
							<div class="tabular__cell cell-3">Status</div>
							<div class="tabular__cell cell-4">BB Ownership</div>
							<div class="tabular__cell cell-4">Price <a class="sort-col neutral"></a></div>
						</div>
						<div class="tabular__row row open-ss" *ngFor="let seller of item.sellers">
							<div class="tabular__cell cell-7 row t-sellname">
								<div class="img-wrap" margin-right="" style="background-image: url();">
									<img [src]="seller.product_image" width="25" alt="">
								</div>
								<div class="text-wrap">
									<h6 class="prod-title" no-margin="" title="{{seller.seller || naText}}">
										<a target="blank" [href]="seller.seller_url">{{seller.seller || naText}}</a>
										<span class="marketplaces" [ngClass]="{'m-amazon': item.channel_details.channel_name == 'Amazon','m-flipkart': item.channel_details.channel_name == 'Flipkart', 'm-snapdeal': item.channel_details.channel_name == 'Snapdeal', 'm-paytm': item.channel_details.channel_name == 'Paytm'}"><span class="m-h"></span></span>
									</h6>
									<div class="amazon-stars inline-elem star-4_0">
									</div>
									<span class="text-lighter">4</span><br>
									<span class="text-lighter">(87 ratings)</span>
									<span class="text-lighter" hidden="">N/A</span>
								</div>
							</div>
							<div class="tabular__cell cell-4 t-sellasin">{{seller.listing_id  || naText}}</div>
							<div class="tabular__cell cell-5 t-sellupdate">{{seller.tracked_since || naText}}</div>
							<div class="tabular__cell cell-3 t-stockout"> <span>{{ seller.stockouts_count ? seller.stockouts_count : '--' }}</span> <span class="visible-xs-inline-block">stockouts</span></div>
							<div class="tabular__cell cell-3 t-status">
								Active
							</div>
							<div class="tabular__cell cell-4 t-bb"> <span>{{ seller.buy_box_ownership ? seller.buy_box_ownership : '--' }}</span> <span class="visible-xs-inline-block">BuyBox ownership</span></div>
							<div class="tabular__cell cell-4 t-sellprice">
								<span class="violation-icon" data-toggle="tooltip" data-placement="bottom" title="Violation Type: MOP Violation">
									<img alt="" src="./assets/img/viol.png">
								</span>
								<span class="price">
									<span class="rupee">₹</span><span class="amount">{{seller.price || naText}}</span>
									<span [hidden]="seller.lowest != 'yes'" class="badge badge-success">Lowest</span>
								</span>
									<span [hidden]="seller.buy_box != 'yes'" class="badge badge-warning">BB</span>
							</div>

						</div>

				  	</div>
				  </div>
				  <div class="tabbed-section tabbed-section-2 hidden">
				    <h3>Product Info</h3>
				  </div>
				  <div class="tabbed-section tabbed-section-3 hidden">
				    <h3>Product Info</h3>
				  </div>
			</div>

		</div>
		<pagination-controls (pageChange)="pagChanged($event)" autoHide="true"></pagination-controls>
	</div>
</div>
